h3 {
    font: serif, Georgia;
    font-weight: normal;
    margin-left: 3%;
    margin-top: 3%;
    font-size: 22px;
    width: 60%;
}
#first {
    float: left;
    width: 30%;
    margin-left: 3%;
}

#second {
    float: left;
    width: 25%;
}

#third {
    float: right;
    width: 40%;
    position: relative;
    margin-top: 1%;
}

dl.inline dt, dl.inline dd {
    float: left;
    margin: 0 0.5em 0 0;
    padding: 5px;
    font: serif, Georgia;
    font-size: 16px;

}

dl.inline dd + dt, dl.inline dd + dd {
    clear: left
}

dl.inline dd + dd {
    float: none
}

dl.inline dt {
    font-weight: normal
}

.clear {
    clear: both;
}

hr {
    width: 50%;
    float: left;
    margin-left: 3%;
}

a {
    margin-left: 3%;
}
