{% extends "base.html" %}

{% block extrahead %}
    <script type ="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type ="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
    <script type ="text/javascript" src="{{ STATIC_URL }}js/contact.js"></script>
    {{ form.media }}
{% endblock %}

{% block title %}Edit contact details{% endblock %}

{% block content %}
    <h3>Edit contact details</h3>
    <div id="ajax_messages"></div>
    <div id="form_container">
        <form id="edit-form" enctype="multipart/form-data" method="post" action="{% url edit-view %}">
        {% include "hello/edit_form.html" %}
        </form>
    </div>
{% endblock %}
