{% extends "base.html" %}

{% load object_admin_edit_link_tag %}

{% block title %}Contact Details{% endblock %}

{% block content %}
    <h3>Contact Details</h3>
    <div id="edit_links">
        {% if user.is_authenticated %}
            <a href="{% url edit-view %}">Edit</a>
            <a href="{% admin_edit_link person %}">Edit in Admin</a>
        {% endif %}
    </div>
    <div class="clear"></div>
    <dl class="inline">
        <dt>Name:</dt>
        <dd>{{ person.first_name }}</dd>
        <dt>Last name:</dt>
        <dd>{{ person.last_name }}</dd>
        <dt>Date of birth:</dt>
        <dd>{{ person.date_of_birth }}</dd>
        <dt></dt>
        <dd>{% if person.image %}
            <img src="{{ person.image.url }}"/>
        {% endif %} </dd>
    </dl>
    <dl class="inline">
        <dt>Contacts</dt>
        <dd></dd>
        <dt>Email:</dt>
        <dd>{{ person.email }}</dd>
        <dt>Jabber:</dt>
        <dd>{{ person.jabber }}</dd>
        <dt>Skype:</dt>
        <dd>{{ person.skype }}</dd>
        <dt>Other contacts:</dt>
        <dd>{{ person.other_contacts }}</dd>
        <dt>Bio:</dt>
        <dd>{{ person.biography }}</dd>
    </dl>
    <div class="clear"></div>
{% endblock %}
